<body>

	<% if @courses.empty? %>
	    <% if @search == false %>
			<h3 style="margin-left: 18px"> There are 0 courses right now. </h3>
		<% else %>
			<h3 style="margin-left: 18px"> No search results to display. </h3>
		<% end %>		
	<% else %>

		<%= form_tag(root_path, {class: 'search',  method: :get}) do %>
		  <%= text_field_tag :search %>
		  <%= submit_tag 'Search' %>
		<% end %>

		<div class="table-responsive">
		  <table class="table">
		  	    <h3 style="margin-left: 8px;">All Courses</h3>
				<thead>
				  <tr>
				   <th scope="col">Course Name</th>
				   <th scope="col">Description</th>
				   <th scope="col">Start Date</th>
				   <th scope="col">End Date</th>
				  </tr>
				</thead>
			    <tbody>
			    <% @courses.each do |course| %>	
				    <tr onclick="location.href='<%= courses_path(course) %>'">
				      <td><%= course.name %></td>
				      <td><%= course.description %></td>
				      <td><%= course.start_date %></td>
				      <td><%= course.end_date %></td>
				    </tr>
				<% end %>    
			  </tbody>
		  </table>
		</div>

		<% if current_user.admin? %>
		<%= button_to "Delete All Courses", courses_delete_all_path, :method => :post, data: {confirm: "Are you sure you want to delete all the courses?"}, class: "deleteAll" %>
		<% end %>
	<% end %>
</body>