<h3 style="margin-left: 20px">Course Name: <%= @course.name %></h3><hr>
<h3 style="margin-left: 20px">Description: <%= @course.description %></h3><hr>
<h3 style="margin-left: 20px">Start Date: <%= @course.start_date %></h3><hr> 
<h3 style="margin-left: 20px">End Date: <%= @course.end_date %></h3><hr>
<h3 style="margin-left: 20px">Time: <%= @course.time %></h3><hr>